.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
.Rhistory

# Icon must ends with two \r.
Icon

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# JetBrains 
.idea/

# R and RNotebook
*.Rproj
.Rproj.user/
*nb.html

# local notes
readme_local.md